---
export const prerender = false;

import Base from '../layouts/Base.astro';
import Header from '../components/astro/Header.astro';
import Footer from '../components/astro/Footer.astro';
import { MainContent } from '../components/react/MainContent';
---

<Base>
  <div class="flex min-h-screen flex-col">
    <Header />
    <main class="flex-1">
      <div class="px-4 py-4 md:px-6">
        <MainContent client:load />
      </div>
    </main>
    <Footer />
  </div>
</Base>
